IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyThuVienDB')
BEGIN
	DROP DATABASE QuanLyThuVienDB;
END
GO

-- Create new db
CREATE DATABASE QuanLyThuVienDB;
GO

USE QuanLyThuVienDB;
GO

-- ChiTietPhieuMuon table
CREATE TABLE ChiTietPhieuMuon
(
	MaPhieuMuon INT NOT NULL,
	MaSach INT NOT NULL,
	NgayTraDuKien DATETIME2(7) NOT NULL,
	NgayTraThucTe DATETIME2(7),
	TrangThaiMuon NVARCHAR(50) NOT NULL,
	TrangThaiSach NVARCHAR(50),
	CONSTRAINT PK_ChiTietPhieuMuon PRIMARY KEY (MaPhieuMuon, MaSach)
);

-- DocGia table
CREATE TABLE DocGia
(
	MaDocGia INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	HoTen NVARCHAR(100) NOT NULL,
	NgaySinh DATETIME2(7) NOT NULL,
	DiaChi NVARCHAR(200) NOT NULL,
	CCCD NVARCHAR(12) NOT NULL UNIQUE,
	SoDienThoai NVARCHAR(10) NOT NULL UNIQUE,
	Username NVARCHAR(45) NOT NULL
);

-- HoaDon table
CREATE TABLE HoaDon
(
	MaHoaDon INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	NgayLap DATETIME2(7) NOT NULL,
	SoTien DECIMAL(18, 2) NOT NULL,
	NoiDung NVARCHAR(500) NOT NULL,
	MaDocGia INT NOT NULL,
	MaNhanVien INT NOT NULL
);

-- NhanVien table
CREATE TABLE NhanVien
(
	MaNhanVien INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	HoTen NVARCHAR(100) NOT NULL,
	NgaySinh DATETIME2(7) NOT NULL,
	DiaChi NVARCHAR(200) NOT NULL,
	CCCD NVARCHAR(12) NOT NULL UNIQUE,
	SoDienThoai NVARCHAR(10) NOT NULL UNIQUE,
	Username NVARCHAR(45) NOT NULL
);

-- PhieuMuon table
CREATE TABLE PhieuMuon
(
	MaPhieuMuon INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	NgayLap DATETIME2(7) NOT NULL,
	TongSoSachMuon INT NOT NULL,
	MaThe INT NOT NULL,
	MaNhanVien INT NOT NULL
);

-- Sach table
CREATE TABLE Sach
(
	MaSach INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	TenSach NVARCHAR(150) NOT NULL,
	HinhAnh NVARCHAR(255) NOT NULL,
	MoTa NVARCHAR(500) NOT NULL,
	NhaXuatBan NVARCHAR(100) NOT NULL,
	SoLuong INT NOT NULL,
	MaTheLoai INT NOT NULL
);

-- TacGia table
CREATE TABLE TacGia
(
	MaTacGia INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	TenTacGia NVARCHAR(100) NOT NULL,
	MoTa NVARCHAR(500) NOT NULL
);

-- TacGia_Sach table
CREATE TABLE TacGia_Sach
(
	MaTacGia INT NOT NULL,
	MaSach INT NOT NULL,
	CONSTRAINT PK_TacGia_Sach PRIMARY KEY (MaTacGia, MaSach)
);

-- TaiKhoan table
CREATE TABLE TaiKhoan
(
	Username NVARCHAR(45) NOT NULL PRIMARY KEY,
	Password NVARCHAR(255) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	LoaiTaiKhoan NVARCHAR(50) NOT NULL
);

-- TheLoai table
CREATE TABLE TheLoai
(
	MaTheLoai INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	TenTheLoai NVARCHAR(100) NOT NULL,
	MoTa NVARCHAR(500) NOT NULL
);

-- TheThuVien table
CREATE TABLE TheThuVien
(
	MaThe INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	NgayHetHan DATETIME2(7) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	MaDocGia INT NOT NULL
);

-- YeuCauGiaHan table
CREATE TABLE YeuCauGiaHan
(
	MaYeuCauGiaHan INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	MaPhieuMuon INT NOT NULL,
	MaSach INT NOT NULL,
	NgayTao DATETIME2(7) NOT NULL,
	NgayGiaHan DATETIME2(7) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL
);

---- Add foreign keys ----
ALTER TABLE ChiTietPhieuMuon
ADD CONSTRAINT FK_ChiTietPhieuMuon_PhieuMuon FOREIGN KEY (MaPhieuMuon) REFERENCES PhieuMuon (MaPhieuMuon),
	CONSTRAINT FK_ChiTietPhieuMuon_Sach FOREIGN KEY (MaSach) REFERENCES Sach (MaSach);

ALTER TABLE DocGia
ADD CONSTRAINT FK_DocGia_TaiKhoan FOREIGN KEY (Username) REFERENCES TaiKhoan (Username);

ALTER TABLE HoaDon
ADD CONSTRAINT FK_HoaDon_DocGia FOREIGN KEY (MaDocGia) REFERENCES DocGia (MaDocGia),
	CONSTRAINT FK_HoaDon_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NhanVien (MaNhanVien);

ALTER TABLE NhanVien
ADD CONSTRAINT FK_NhanVien_TaiKhoan FOREIGN KEY (Username) REFERENCES TaiKhoan (Username);

ALTER TABLE PhieuMuon
ADD CONSTRAINT FK_PhieuMuon_TheThuVien FOREIGN KEY (MaThe) REFERENCES TheThuVien (MaThe),
	CONSTRAINT FK_PhieuMuon_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NhanVien (MaNhanVien);

ALTER TABLE Sach
ADD CONSTRAINT FK_Sach_TheLoai FOREIGN KEY (MaTheLoai) REFERENCES TheLoai (MaTheLoai);

ALTER TABLE TacGia_Sach
ADD CONSTRAINT FK_TacGia_Sach_TacGia FOREIGN KEY (MaTacGia) REFERENCES TacGia (MaTacGia),
	CONSTRAINT FK_TacGia_Sach_Sach FOREIGN KEY (MaSach) REFERENCES Sach (MaSach);

ALTER TABLE TheThuVien
ADD CONSTRAINT FK_TheThuVien_DocGia FOREIGN KEY (MaDocGia) REFERENCES DocGia (MaDocGia);

ALTER TABLE YeuCauGiaHan
ADD CONSTRAINT FK_YeuCauGiaHan_ChiTietPhieuMuon FOREIGN KEY (MaPhieuMuon, MaSach) REFERENCES ChiTietPhieuMuon (MaPhieuMuon, MaSach);

---- Insert data ----
-- TaiKhoan data

-- NhanVien data
INSERT INTO NhanVien (HoTen, NgaySinh, DiaChi, CCCD, SoDienThoai, Username) VALUES
(N'Nguyễn Văn Anh', '1990-05-15', N'123 Nguyễn Hue, Q1, TPHCM', '012345678901', '0901234567', 'NguyenVanAnh'),
(N'Trần Thị Bình', '1992-08-20', N'456 Lê Lợi, Q3, TPHCM', '012345678902', '0912345678', 'TranThiBinh'),
(N'Hoàng Minh Châu', '1988-12-10', N'789 Cách Mạng Tháng 8, Q10, TPHCM', '012345678903', '0923456789', 'HoangMinhChau');

-- DocGia data

-- TheLoai data
INSERT INTO TheLoai (TenTheLoai, MoTa) VALUES
(N'Công Nghệ Thông Tin', N'Sách về công nghệ thông tin, lập trình'),
(N'Kinh Tế', N'Sách về kinh tế học, kinh doanh'),
(N'Văn Học', N'Sách văn học, tiểu thuyết'),
(N'Lịch Sử', N'Sách về lịch sử Việt Nam và thế giới'),
(N'Khoa Học Tự Nhiên', N'Sách về vật lý, hóa học, sinh học');

-- TacGia data
INSERT INTO TacGia (TenTacGia, MoTa) VALUES
(N'Phạm Giáo', N'Tác giả nổi tiếng viết về CNTT'),
(N'Ngô Tất Tố', N'Nhà văn hạng A của Việt Nam'),
(N'Mạc Dinh Chi', N'Viết về lịch sử và văn hóa'),
(N'Hồ Chí Minh', N'Tư tưởng và chính trị'),
(N'Tạ Tú Anh', N'Nhà khoa học nổi tiếng'),
(N'Bùi Xuân Phái', N'Viết về văn hóa Hà Nội'),
(N'Nguyễn Du', N'Tác giả Truyện Kiều'),
(N'Vũ Văn Điểm', N'Nhà soạn giáo trình');

-- Sach data

-- TacGia_Sach data
INSERT INTO TacGia_Sach VALUES
(1, 1), (1, 2), (1, 3),
(2, 4), (2, 5),
(3, 9), (3, 10),
(4, 11), (4, 12),
(5, 13), (5, 14), (5, 15),
(6, 8),
(7, 7),
(8, 6);

-- TheThuVien data
INSERT INTO TheThuVien (NgayHetHan, TrangThai, MaDocGia) VALUES
('2024-12-31', N'Hoạt động', 1),
('2024-11-15', N'Hoạt động', 2),
('2024-10-20', N'Hoạt động', 3),
('2025-01-30', N'Hoạt động', 4),
('2024-09-25', N'Hoạt động', 5),
('2025-02-10', N'Hoạt động', 6),
('2024-08-15', N'Hết hạn', 7),
('2025-03-05', N'Hoạt động', 8),
('2024-12-15', N'Hoạt động', 9),
('2025-01-20', N'Hoạt động', 10);

-- PhieuMuon data
INSERT INTO PhieuMuon (NgayLap, TongSoSachMuon, MaThe, MaNhanVien) VALUES
('2024-01-10', 2, 1, 1),
('2024-01-12', 1, 2, 1),
('2024-01-15', 3, 3, 2),
('2024-01-18', 2, 4, 3),
('2024-01-20', 1, 5, 1),
('2024-01-22', 2, 6, 2),
('2024-01-25', 3, 7, 3),
('2024-01-28', 1, 8, 1),
('2024-02-01', 2, 9, 2),
('2024-02-05', 4, 10, 3);

-- ChiTietPhieuMuon data

-- HoaDon data
INSERT INTO HoaDon (NgayLap, SoTien, NoiDung, MaDocGia, MaNhanVien) VALUES
('2024-02-08', 30000.00, N'Mở thẻ', 1, 1),
('2024-02-11', 30000.00, N'Mở thẻ', 2, 1),
('2024-02-14', 40000.00, N'Trả sách trễ hạn', 3, 2),
('2024-02-19', 30000.00, N'Mở thẻ', 4, 3),
('2024-02-24', 150000.00, N'Mất sách', 5, 1),
('2024-02-27', 30000.00, N'Mở thẻ', 6, 2),
('2024-03-01', 120000.00, N'Trả sách trễ hạn', 7, 3),
('2024-03-02', 80000.00, N'Trả sách trễ hạn', 8, 1),
('2024-03-05', 30000.00, N'Mở thẻ', 9, 2),
('2024-03-06', 20000.00, N'Trả sách trễ hạn', 10, 3);

-- YeuCauGiaHan data
INSERT INTO YeuCauGiaHan (MaPhieuMuon, MaSach, NgayTao, NgayGiaHan, TrangThai) VALUES
(3, 5, '2024-02-13', '2024-03-01', N'Đã duyệt'),
(3, 6, '2024-02-13', '2024-03-01', N'Đã duyệt'),
(4, 7, '2024-02-16', '2024-03-05', N'Đã duyệt'),
(4, 8, '2024-02-16', '2024-03-05', N'Đang chờ'),
(7, 1, '2024-02-23', '2024-03-15', N'Từ chối'),
(9, 3, '2024-02-28', '2024-03-20', N'Đang chờ');
