-- =====================================================
-- QUẢN LÝ THƯ VIỆN - DATABASE SCRIPT
-- =====================================================

-- Drop existing database if it exists
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyThuVienDB')
BEGIN
	DROP DATABASE QuanLyThuVienDB;
END
GO

-- Create new database
CREATE DATABASE QuanLyThuVienDB;
GO

USE QuanLyThuVienDB;
GO

-- 1. CREATE TABLES

-- Table: TheLoai
CREATE TABLE TheLoai
(
	MaTheLoai INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	TenTheLoai NVARCHAR(100) NOT NULL,
	MoTa NVARCHAR(500) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	Updated_at DATETIME2(7) NULL,
	Deleted_at DATETIME2(7) NULL
);

-- Table: TacGia
CREATE TABLE TacGia
(
	MaTacGia INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	TenTacGia NVARCHAR(100) NOT NULL,
	MoTa NVARCHAR(500) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	Updated_at DATETIME2(7) NULL,
	Deleted_at DATETIME2(7) NULL
);

-- Table: Sach
CREATE TABLE Sach
(
	MaSach INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	TenSach NVARCHAR(150) NOT NULL,
	HinhAnh NVARCHAR(255) NOT NULL,
	MoTa NVARCHAR(500) NOT NULL,
	NhaXuatBan NVARCHAR(100) NOT NULL,
	SoLuong INT NOT NULL,
	DonGia DECIMAL(10, 2) NOT NULL,
	MaTheLoai INT NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	Updated_at DATETIME2(7) NULL,
	Deleted_at DATETIME2(7) NULL
);

-- Table: TacGia_Sach
CREATE TABLE TacGia_Sach
(
	MaTacGia INT NOT NULL,
	MaSach INT NOT NULL,
	CONSTRAINT PK_TacGia_Sach PRIMARY KEY (MaTacGia, MaSach)
);

-- Table: NhanVien
CREATE TABLE NhanVien
(
	MaNhanVien INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	HoTen NVARCHAR(100) NOT NULL,
	NgaySinh DATETIME2(7) NOT NULL,
	DiaChi NVARCHAR(200) NOT NULL,
	CCCD NVARCHAR(12) NOT NULL UNIQUE,
	SoDienThoai NVARCHAR(10) NOT NULL UNIQUE,
	Username NVARCHAR(45) NOT NULL UNIQUE,
	Password NVARCHAR(255) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	LoaiTaiKhoan NVARCHAR(30) NOT NULL,
	Deleted_at DATETIME2(7) NULL
);

-- Table: DocGia
CREATE TABLE DocGia
(
	MaDocGia INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	HoTen NVARCHAR(100) NOT NULL,
	NgaySinh DATETIME2(7) NOT NULL,
	DiaChi NVARCHAR(200) NOT NULL,
	CCCD NVARCHAR(12) NOT NULL UNIQUE,
	SoDienThoai NVARCHAR(10) NOT NULL UNIQUE,
	Username NVARCHAR(45) NOT NULL UNIQUE,
	Password NVARCHAR(255) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	Deleted_at DATETIME2(7) NULL
);

-- Table: TheThuVien
CREATE TABLE TheThuVien
(
	MaThe INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	NgayHetHan DATETIME2(7) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL,
	MaDocGia INT NOT NULL,
	Created_at DATETIME2(7) NOT NULL DEFAULT GETDATE(),
	Updated_at DATETIME2(7) NULL,
	Deleted_at DATETIME2(7) NULL
);

-- Table: PhieuMuon
CREATE TABLE PhieuMuon
(
	MaPhieuMuon INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	NgayLap DATETIME2(7) NOT NULL,
	TongSoSachMuon INT NOT NULL,
	MaThe INT NOT NULL,
	MaNhanVien INT NOT NULL
);

-- Table: ChiTietPhieuMuon
CREATE TABLE ChiTietPhieuMuon
(
	MaPhieuMuon INT NOT NULL,
	MaSach INT NOT NULL,
	NgayTraDuKien DATETIME2(7) NOT NULL,
	NgayTraThucTe DATETIME2(7),
	TrangThaiMuon NVARCHAR(50) NOT NULL,
	TrangThaiSach NVARCHAR(50),
	CONSTRAINT PK_ChiTietPhieuMuon PRIMARY KEY (MaPhieuMuon, MaSach)
);

-- Table: HoaDon
CREATE TABLE HoaDon
(
	MaHoaDon INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	NgayLap DATETIME2(7) NOT NULL,
	SoTien DECIMAL(18, 2) NOT NULL,
	NoiDung NVARCHAR(500) NOT NULL,
	MaDocGia INT NOT NULL,
	MaNhanVien INT NOT NULL
);

-- Table: YeuCauGiaHan 
CREATE TABLE YeuCauGiaHan
(
	MaYeuCauGiaHan INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	MaPhieuMuon INT NOT NULL,
	MaSach INT NOT NULL,
	NgayTao DATETIME2(7) NOT NULL,
	NgayGiaHan DATETIME2(7) NOT NULL,
	TrangThai NVARCHAR(50) NOT NULL
);

-- 2. ADD FOREIGN KEYS

ALTER TABLE Sach
ADD CONSTRAINT FK_Sach_TheLoai FOREIGN KEY (MaTheLoai) REFERENCES TheLoai (MaTheLoai);

ALTER TABLE TacGia_Sach
ADD CONSTRAINT FK_TacGia_Sach_TacGia FOREIGN KEY (MaTacGia) REFERENCES TacGia (MaTacGia),
	CONSTRAINT FK_TacGia_Sach_Sach FOREIGN KEY (MaSach) REFERENCES Sach (MaSach);

ALTER TABLE TheThuVien
ADD CONSTRAINT FK_TheThuVien_DocGia FOREIGN KEY (MaDocGia) REFERENCES DocGia (MaDocGia);

ALTER TABLE PhieuMuon
ADD CONSTRAINT FK_PhieuMuon_TheThuVien FOREIGN KEY (MaThe) REFERENCES TheThuVien (MaThe),
	CONSTRAINT FK_PhieuMuon_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NhanVien (MaNhanVien);

ALTER TABLE ChiTietPhieuMuon
ADD CONSTRAINT FK_ChiTietPhieuMuon_PhieuMuon FOREIGN KEY (MaPhieuMuon) REFERENCES PhieuMuon (MaPhieuMuon),
	CONSTRAINT FK_ChiTietPhieuMuon_Sach FOREIGN KEY (MaSach) REFERENCES Sach (MaSach);

ALTER TABLE HoaDon
ADD CONSTRAINT FK_HoaDon_DocGia FOREIGN KEY (MaDocGia) REFERENCES DocGia (MaDocGia),
	CONSTRAINT FK_HoaDon_NhanVien FOREIGN KEY (MaNhanVien) REFERENCES NhanVien (MaNhanVien);

ALTER TABLE YeuCauGiaHan
ADD CONSTRAINT FK_YeuCauGiaHan_ChiTietPhieuMuon FOREIGN KEY (MaPhieuMuon, MaSach) REFERENCES ChiTietPhieuMuon (MaPhieuMuon, MaSach);

-- 3. INSERT DATA

-- ===== A. TheLoai Data =====

-- ===== B. TacGia Data =====

-- ===== C. Sach Data =====

-- ===== D. TacGia_Sach (Liên kết tác giả - sách) =====
INSERT INTO TacGia_Sach VALUES
(1, 1), (1, 2), (1, 3),
(2, 4), (2, 5),
(3, 9), (3, 10),
(4, 11), (4, 12),
(5, 23), (5, 24), (5, 25),
(6, 18),
(7, 17),
(8, 10),
(9, 6), (9, 7), (9, 8),
(10, 9), (10, 10),
(11, 11), (11, 12),
(12, 13), (12, 14),
(13, 31), (13, 32),
(14, 23), (14, 24), (14, 25),
(15, 27), (15, 28),
(16, 34), (16, 35);

-- ===== E. NhanVien Data =====

-- ===== F. DocGia Data =====

-- ===== G. TheThuVien Data  =====

-- ===== H. PhieuMuon Data  =====

-- ===== I. ChiTietPhieuMuon Data =====

-- ===== J. HoaDon Data  =====

-- ===== K. YeuCauGiaHan  =====


CREATE VIEW vw_TheThuVien
AS
SELECT MaThe, NgayHetHan, TrangThai, MaDocGia, Created_at
FROM TheThuVien;

CREATE VIEW vw_Docgia
AS
SELECT MaDocGia, HoTen, NgaySinh, DiaChi,  SoDienThoai, CCCD, TrangThai, Username
FROM DocGia;

CREATE VIEW vw_PhieuMuon
AS
SELECT MaPhieuMuon, NgayLap, TongSoSachMuon, MaThe, MaNhanVien
FROM PhieuMuon;


CREATE VIEW vw_ChiTietPhieuMuon  
as select MaPhieuMuon, MaSach, NgayTraDuKien, NgayTraThucTe, TrangThaiMuon, TrangThaiSach
from ChiTietPhieuMuon;

CREATE VIEW vw_Sach_Public
AS 
SELECT MaSach, TenSach, HinhAnh, MoTa, NhaXuatBan, SoLuong, DonGia, MaTheLoai, TrangThai, Created_at, Updated_at
FROM Sach;
